/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-top: 70px;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    height: 60px;
}

.center{
    margin-top: 12px;
}

.container{
    margin-left: 8%;
}
